#chat {
    min-height: 500px;
    height: 500px;
    overflow: auto;
    border: 2px solid lightgray;
    border-radius: 7px;
}

/* =======================================================
   MENSAGENS
   ======================================================= */

.mensagem {
    max-width: 30%;
    border: 2px solid #e3f2fd;
    border-radius: 10px;
    padding: 5px;
}

.msg-rec {
    background-color: #33b5e5;
}
.msg-outro {
    background-color: #00C851;
}

.msg-usuario {
    font-family: 'Lato', sans-serif;
}
.msg-data {
    font-family: 'Lato', sans-serif;
}
.msg-texto {
    font-family: 'Signika', sans-serif;
}