/* =======================================================
   Fontes
   ======================================================= */

   @import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
   @import url('https://fonts.googleapis.com/css?family=Signika');
   @import url('https://fonts.googleapis.com/css?family=Slabo+27px');
   @import url('https://fonts.googleapis.com/css?family=Oswald');
   @import url('https://fonts.googleapis.com/css?family=Merienda');
   @import url('https://fonts.googleapis.com/css?family=Neucha');
   @import url('https://fonts.googleapis.com/css?family=Merriweather');
   @import url('https://fonts.googleapis.com/css?family=Lato');
   @import url('https://fonts.googleapis.com/css?family=Lora');
   @import url('https://fonts.googleapis.com/css?family=Courgette');
   @import url('https://fonts.googleapis.com/css?family=Patua+One');
   @import url('https://fonts.googleapis.com/css?family=Lobster');
   @import url('https://fonts.googleapis.com/css?family=Markazi+Text');
   @import url('https://fonts.googleapis.com/css?family=PT+Serif');
   @import url('https://fonts.googleapis.com/css?family=Bitter');
   @import url('https://fonts.googleapis.com/css?family=Bree+Serif');
   @import url('https://fonts.googleapis.com/css?family=Acme');
   @import url('https://fonts.googleapis.com/css?family=Playfair+Display');
   @import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
   
   
   body {
   
       /* font-family: 'Roboto Slab', serif; */
       /* font-family: 'Signika', sans-serif; */
       /* font-family: 'Slabo 27px', serif; */
       /* font-family: 'Oswald', sans-serif; */
       /* font-family: 'Merienda', cursive; */
       /* font-family: 'Neucha', cursive; */
       /* font-family: 'Merriweather', serif; */
       /* font-family: 'Lato', sans-serif; */
       /* font-family: 'Lora', serif; */
       /* font-family: 'Courgette', cursive; */
       /* font-family: 'Markazi Text', serif; */
       /* font-family: 'PT Serif', serif; */
       /* font-family: 'Bitter', serif; */
       /* font-family: 'Bree Serif', serif; */
       /* font-family: 'Acme', sans-serif; */
       /* font-family: 'Playfair Display', serif; */
       /* font-family: 'Shadows Into Light', cursive; */
   
   }